<!DOCTYPE html>
<html>

<head>
    <title>Transaction Details</title>
    <style>
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            max-width: 1366px;
        }

        body {
            margin: auto;
            font-family: Arial, sans-serif;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 2rem;
            background-color: darkgreen;
        }

        .header h1 {
            color: aliceblue;
        }

        .container {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            width: 50%;
            margin: auto;
            justify-content: center;
        }

        .container h3 {
            padding-top: 2rem;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .content {
            margin: auto;
            padding: 1rem 2rem;
            width: 50%;
        }

        .content .content-title {
            padding-bottom: 1rem;
        }

        .content .content-text {
            padding-bottom: 1rem;
        }

        .content .content-text p {
            padding-bottom: 0.8rem;
        }

        footer {
            width: 50%;
            margin: auto;
        }

        footer p {
            margin-bottom: 0.5rem;
        }

        footer p:last-child {
            margin-top: 2rem;
        }
    </style>
</head>

<body>

    <div class="header">
        <h1>Reservation Confirmation</h1>
    </div>

    <div class="container">
        <h3>Dear, {{ $transaction->customers->name }},</h3>
        <p>Thank you for your reservation. Here are the details:</p>
    </div>

    <div class="content">
        <div class="content-title">
            <h3>Customer Information</h3>
        </div>
        <div class="content-text">
            <p>Customer Name: {{ $transaction->customers->name }}</p>
        </div>


        <div class="content-title">
            <h3>Hotel Details</h3>
        </div>
        <div class="content-text">
            <p>Hotel Name: {{ $transaction->hotels->nama }}</p>
            <p>Start Date: {{ $transaction->hotel_start_date }}</p>
            <p>End Date: {{ $transaction->hotel_end_date }}</p>
            <p>Price: {{ $transaction->hotel_price }}</p>
            <p>Benefit: {{ $transaction->hotel_benefit }}</p>
        </div>


        <div class="content-title">
            <h3>Wedding Venue Details</h3>
        </div>
        <div class="content-text">
            <p>Venue Name: {{ $transaction->wedding_venues->nama }}</p>
            <p>Start Date: {{ $transaction->venue_start_date }}</p>
            <p>End Date: {{ $transaction->venue_end_date }}</p>
            <p>Price: {{ $transaction->venue_price }}</p>
        </div>

        <div class="content-title">
            <h3>Agent Information</h3>
        </div>

        <div class="content-text">
            <p>Agent Name: {{ $transaction->agents->name }}</p>
            <p>Is Main: {{ $transaction->is_main }}</p>
        </div>

        <div class="content-title">
            <h3>Other Details</h3>
        </div>

        <div class="content-text">
            <p>Total Price: {{ $transaction->total_price }}</p>
            <p>Description: {{ $transaction->description }}</p>
            <p>Room Note: {{ $transaction->room_note }}</p>
            <p>Extra Bed: {{ $transaction->extra_bed }}</p>
            <p>Extra Bed Price: {{ $transaction->extra_bed_price }}</p>
            <p>Extra Bed Total Price: {{ $transaction->extra_bed_total_price }}</p>
            <p>Note Wedding Package: {{ $transaction->note_wedding_package }}</p>
            <p>Total Price All: {{ $transaction->total_price_all }}</p>
            <p>Note Entertainment: {{ $transaction->note_entertainment }}</p>
            <p>Note Policy: {{ $transaction->note_policy }}</p>
        </div>
    </div>

    <footer>
        <p>We look forward to serving you!</p>
        <p>Best regards,</p>
        <p>Your Company</p>
    </footer>
</body>

</html>
