<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Hotel Booking Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            background-color: #08964f;
            color: #fff;
        }

        h1 {
            font-size: bold;
            padding: 15px 0 15px 0;
            margin: 0;
            text-align: center;
        }

        .container {
            margin: auto;
            text-align: center;

            color: #333;
        }

        .booking-info {
            margin-top: 30px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 30px;
            text-align: left;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }

        td:first-child {
            width: 150px;
            font-weight: bold;
        }

        .cta {
            margin-top: 30px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #08964f;
            color: white;
            border: none;
            border-radius: 5px;
            text-decoration: none;
        }

        .booking-summary {
            margin-top: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: left;
        }

        th,
        td {
            padding: 10px 15px;
            border-bottom: 1px solid #dddddd;
        }

        th {
            background-color: #08964f;
            color: white;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        h2 {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .header img {
            width: 4%;
            margin-right: 10px;
            padding: 15px 0 15px 0;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="./img/icon.svg" alt="logo" />
        <h1>Reservation Confirmation</h1>
    </div>
    <div class="container">
        <div class="booking-info">
            <h2>Customer Information</h2>
            <table>
                <tr>
                    <td><strong>Customer Name:</strong></td>
                    <td>{{ $transaction->customers->name }}</td>
                </tr>
                <tr>
                    <td><strong>Hotel Name:</strong></td>
                    <td>{{ $transaction->hotels->nama }}</td>
                </tr>
                <tr>
                    <td><strong>Check-In:</strong></td>
                    <td>{{ $transaction->hotel_start_date }}</td>
                </tr>
                <tr>
                    <td><strong>Check-Out:</strong></td>
                    <td>{{ $transaction->hotel_end_date }}</td>
                </tr>
            </table>
        </div>
        <h2>Venue Details </h2>
        <div class="booking-summary">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Price</th>
                        <th>Total Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Venue Name</td>
                        <td>{{ $transaction->wedding_venues->nama }}</td>
                        <td>{{ $transaction->venue_start_date }}</td>
                        <td>{{ $transaction->venue_end_date }}</td>
                        <td>@currency($transaction->total_price)</td>
                        <td>{{ $transaction->description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="booking-info">
            <h2>Agent Information</h2>
            <table>
                <tr>
                    <td><strong>Agent Name:</strong></td>
                    <td>{{ $transaction->customers->name }}</td>
                </tr>
            </table>
        </div>
        <h2>Other Details</h2>
        <div class="booking-summary">
            <table>
                <thead>
                    <tr>
                        <th>Room Note</th>
                        <th>Extra Bed</th>
                        <th>Extra Bed Price</th>
                        <th>Extra Bed Total Price</th>
                        <th>Note Wedding Package</th>
                        <th>Total Price All</th>
                        <th>Note Entertainment</th>
                        <th>Note Policy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ $transaction->room_note }}</td>
                        <td>{{ $transaction->extra_bed }}</td>
                        <td> {{ $transaction->extra_bed_price }}</td>
                        <td> {{ $transaction->extra_bed_total_price }}</td>
                        <td> {{ $transaction->note_wedding_package }}</td>
                        <td> {{ $transaction->total_price_all }}</td>
                        <td> {{ $transaction->note_entertainment }}</td>
                        <td> {{ $transaction->note_policy }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cta">
            <p>
                Thank you for choosing our hotel. We look forward to welcoming you
                soon!
            </p>
        </div>
    </div>
</body>

</html>
