body{
    width: 100%;
    height: 100%;
    margin: auto;
    padding: auto;
    background-color: #FFFF;
    font: 12pt "Poppins";
}

h1{
    text-align: center;
    padding: 0;
    font-weight: bold;   
}

.section h5{
    text-align: justify;
    padding: 0;
    margin: 0;
}

h5{
    text-align: center;
    padding: 0;
    font-weight: bold;
}

.logo {
    width: 5%;
    display: block;
    margin: auto;

}
.invoice-info {
    text-align: right;
    padding-bottom: 2mm;
}
.invoice-info p {
    margin: 0;
}
.section {
    margin: 0;
}
.section h2 {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    margin-bottom: 2mm;
}

.section p{
    text-align: justify;
    margin-top: 2mm;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4mm;
}
.table th,
.table td {
    padding: 5px;
    text-align: left;
    border: 1px solid #ddd;
}
.table th {
    background-color: #f7f7f7;
}
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total h3 {
    font-size: 12pt;
    margin: 0;
    padding: 0;
}
.footer {
    margin-top: 8mm;
    text-align: center;
    font-size: 10pt;
    color: #999;
}
.footer p {
    margin: 0;
    padding: 0;
}

.page{
    width: 210mm;
    min-height: 297mm;
    padding: 8mm;
    margin: 8mm auto;
    border: 1px #d3d3d3 solid;
    background: white;
}


@page{
    size: A4;
    margin: 0;
}

@media print{
    html, body{
        width: 210mm;
        height: 297mm;
    }
    .page{
        margin: 0;
        border: initial;
        width: initial;
        min-height: initial;
        background: initial;
        page-break-after: always;
    }
}